[Unit]
Description=DNS caching server.
After=network.target

[Service]
ExecStart=/usr/sbin/dnsmasq --all-servers -k

[Install]
WantedBy=multi-user.target
